body {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42;
    background: #ffffff;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: inherit;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web-logo {
    color: #4d5ae5;
}


.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
    
}
.header-link:hover,
.header-link:focus {
    color: #4D5AE5;
}

.comm-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none; 
}

.link:hover,
.link:focus {
    color: #4D5AE5;
}

.list {
    list-style: none
}

.link {
    text-decoration: none
}

.hero {
    background-color: #2E2F42;;
}

.hero-title {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.18;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-button:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.hero-button:active {
    background: #404bbf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



