body {
    font-family: 'Roboto', sans-serif;
    color: #2e2f42;
    background: #ffffff;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: inherit;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web-logo {
    color: #4d5ae5;
}


.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
    
}
.header-link:hover,
.header-link:focus {
    color: #4D5AE5;
}

.comm-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none; 
}

.link:hover,
.link:focus {
    color: #4D5AE5;
}

.list {
    list-style: none
}

.link {
    text-decoration: none
}





